
.sign-up-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

.sign-up-btn{
    width: 50%;
  }
  