.profile-card{
    width: 273px;
    height: 342px;
    border-radius: 20px;
    background: linear-gradient(178deg, rgba(58, 129, 191, 0.30) 1.63%, rgba(65, 48, 90, 0.01) 148.18%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    gap: 0.5rem;
}

.profile-card:hover{
    opacity: 1;
    transition: all 0.3s;
}

.profile-img-div{
    width: 80%;
    height: 80%;
}


.profile-img-div>img{
    width: 100%;
    height: 100%; 
    border-radius: 20px;  
}

.profile-title{
    color: var(--grey-font);
    font-size: 24px;
    font-weight: 400;
}

.profile-div2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
}

.edit-icon{
    color: var(--white);
    cursor: pointer;
}


