
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    
  --theme : #20062E;;
  --white : #ffffff;
  --font : #ffffffde;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
}

input {
  font-family: 'Inter', sans-serif;
}

.sign-up-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.sign-up-container{
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}


.sign-up-header{
  color: var(--font);
  font-size: 36px;
  font-weight: 400;
}

.sign-up-footer{
  color: var(--font);
  font-weight: 400;
  color: var(--white);
}

.sign-up-footer> a{
    color: var(--white);
    font-weight: 700;
}