
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    
  --theme : #20062E;;
  --white : #ffffff;
  --font : #ffffffde;
  --grey-font :#91879C;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
}

input {
  font-family: 'Inter', sans-serif;
}


/* Form Styles */

.input-wrapper{
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.header-div{
  color: var(--font);
  font-size: 36px;
  font-weight: 400;
}

.footer-div{
  font-weight: 400;
  color: var(--white);
}

.footer-div> a{
    color: var(--white);
    font-weight: 700;
}

/* Pages Styling */

.sign-up-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.create-podcast-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.podcast-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.search-bar{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.all-podcast{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
}

.podcast-detail-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.podcast-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.podcast-banner-wrapper{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    background: linear-gradient(178deg, rgba(58, 129, 191, 0.30) 1.63%, rgba(65, 48, 90, 0.01) 148.18%);
}
.podcast-banner-wrapper>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 0.5rem;
}

.podcast-description{
  color: var(--grey-font);
  font-weight: 400;
  text-align: justify;
}

.create-episode-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.episode-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-left: 0.5rem;
}


.profile-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.my-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.your-podcast{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.edit-profile-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.edit-page-wrapper{
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.reset-form-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}


@media (min-width: 481px) and (max-width: 767px){
  .all-podcast{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    border-radius: 20px;
  }
  
}

@media (max-width: 480px){
  .all-podcast{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem;
    border-radius: 20px;
  }
  
}
